@page {
  size: A4 landscape;
  margin: 10mm;
}
body {
  margin: 0;
  padding: 0;
  border: 1mm solid #991b1b;
  height: 188mm;
}

.border-pattern {
  position: absolute;
  left: 4mm;
  top: -6mm;
  height: 200mm;
  width: 267mm;
  border: 1mm solid #991b1b;
  /* http://www.heropatterns.com/ */
  background-color: #d6d6e4;
}

.content {
  position: absolute;
  left: 10mm;
  top: 10mm;
  height: 178mm;
  width: 245mm;
  border: 1mm solid #991b1b;
  background: white;
}

.inner-content {
  border: 1mm solid #991b1b;
  margin: 4mm;
  padding: 10mm;
  height: 148mm;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 48pt;
  margin-bottom: 0;
}
h2 {
  font-size: 24pt;
  margin-top: 0;
  padding-bottom: 1mm;
  display: inline-block;
  border-bottom: 1mm solid #991b1b;
}

.judul {
  margin-top: 0;
}

h3 {
  font-size: 20pt;
  margin-bottom: 0;
  margin-top: 10mm;
}
p {
  font-size: 16pt;
}

.nama {
  content: "";
  display: block;
  padding-bottom: 4mm;
  border-bottom: 1mm solid black;
}

.badge img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10mm;
  top: 10mm;
}

.sertifikat {
  font-family: Georgia, "Times New Roman", Times, serif;
}
